# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea
Curso_Em_Video.iml
JAVA POO 40 horas.iml
JAVA_Basico_40horas.iml
